<%include partials/header%>

<section class="firstSection">
<div class="wrapper">
    <div class="welcome">
        <h1 class="heading1">Online Book Store</h1>
        <h3 class="heading3">Follow people with reading taste as yours.</h3>
    </div>
        <a class="priBtn" href="/user/signup">Create an Account</a>   
</div>
</section>

<section class="cardSection">
    <div class="label">
        <h3>Top Sellers</h3>
    </div>
    <div class="cards">
    <%for(var i = 0 ; i < 3 ; i++){%>
        <div class="card">
            <div class="leftCard">
                <img class="image" src='<%= books[i].imagePath %>'>
            </div>
            <div class="rightCard">
                <h4 class="bookTitle"> <%= books[i].Title %> </h4>
                <h5 class="authorName"> <%= books[i].Author %> </h5>
                <h5 class="category"> <%= books[i].Category %></h5>
                <div class="rating">
                    <%var rating = books[i].Rating %>
                    <% for (var j=0 ; j < rating; j++){ %> 
                        <img src="assets/icons/star.svg">
                    <%} %>
                </div>
                <div class="price">
                    <h5 class="oldPrice"><%= books[i].Price %></h5>
                    <h5 class="newPrice"><%= books[i].newPrice %></h5>
                </div>
               <a class="secBtn" href="#">
                    <img src="assets/icons/shopping-cart.svg">
                    <span class="addtocart" >Add to cart</span>
                </a>   
            </div>
        </div>
        <%}%>
    </div>
</section>

<section class="preorder">
    
    
    
</section>
<% include partials/footer%>